<h2>商品情報編集</h2>
<% if @item.errors.any? %>
      <%= @item.errors.count %>件のエラーが発生しました
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
<% end %>
<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
    <label for="inputImage">商品画像</label>
        <%= f.file_field :item_image, placeholder:"商品画像", accept:"item_image/*" %><br>
        
    <label for="inputName">商品名</label>
        <%= f.text_field :item_name, autofocus: true, id: "inputItem_name", placeholder: "商品名" %><br>
        
    <label for="inputIntroduction">商品説明</label>
        <%= f.text_area :introduction, id: "inputIntroduction" %><br>
    
    
    <label for="inputContent_volume">内容量</label>
        <%= f.text_field :content_volume, outfocus: true, id: "inputContent_volume" %><br>
        
    <label for="inputUnit">単位</label>
        <%= f.text_field :unit, outfocus: true, id: "inputUnit", placeholder: "パック/袋/箱　など" %><br>
        
    <label for="inputGenre">ジャンル名</label>
        <%= f.select :genre_id, @genres.map { |g|
            [g.genre_name, g.id]},class: "form-control" %><br>
        
    <label for="inputNo_tax_item_price">価格（税抜）</label>
        <%= f.text_field :no_tax_item_price, autofocus: true, id:"inputOn_tax_item_price", palceholder:"商品説明" %><br>
    
    <%= f.submit "変更を保存", class: 'btn btn-success btn-md' %>
<% end %>