<h1>商品詳細</h1>
<div>
    <%= image_tag @item.get_item_image(100,100) %>
    <table>
        <tr>
            <th>商品名</th><td><%= @item.item_name %></td>
        </tr>
        <tr>
            <th>商品説明</th><td><%= @item.introduction %></td>
        </tr>
        <tr>
            <th>商品ジャンル名</th><td><%= @item.genre.genre_name %></td>
        </tr>
        <tr>
            <th>内容量</th><td><%= @item.content_volume %></td>
        </tr>
        <tr>
            <th>単位</th><td><%= @item.unit %></td>
        </tr>
        <tr>
            <th>価格</th><td><%= @item.no_tax_item_price %>円(税込価格<%= @item.with_tax_price %>円)</td>
        </tr>
    </table>
    
</div>
    <p><%= link_to "編集する", edit_admin_item_path(@item.id), class: 'btn btn-primary btn-md' %></p>