<div>
   <h3><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h3>
   <table>
       <tr>
           <th>会員ID</th><td><%= @customer.id %></td>
       </tr>
       <tr>
           <th>氏名</th><td><%= @customer.full_name %>(<%= @customer.full_name_kana %>)</td>
       </tr>
       <tr>
           <th>郵便番号</th><td><%= @customer.postal_code %></td>
       </tr>
       <tr>
           <th>住所</th><td><%= @customer.address %></td>
       </tr>
       <tr>
           <th>電話番号</th><td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
           <th>メールアドレス</th><td><%= @customer.email %></td>
       </tr>
       <tr>
           <th>会員ステータス</th>
           <td>
               <% if @customer.is_deleted == false %>
                   <%= "有効" %>
                <% else %>
                    <%= "退会済み" %>
                <% end %>
           </td>
       </tr>
   </table>
    <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: 'btn btn-primary btn-md' %>
</div>