<h1>管理者トップページ</h1>

<h3>注文履歴一覧</h3>
<table>
    <table>
        <tr>
            <thead>
                <th>受注日</th>
                <th>注文依頼者</th>
                <th>注文個数</th>
            </thead>
        </tr>
        <tr>
            
        </tr>
            <tbody>
                <% @orders.each do |order| %>
                    <td>
                        <%= link_to admin_order_path(order.id) do %>
                            <%= l order.created_at %>
                <% end %>
                    </td>
                    <td><%= order.customer.full_name %></td>
                    <td><%= order.order_details.sum(:amount) %>件</td>
            </tbody>
        </tr>
    <% end %>
</table>
<%= paginate @orders %>