<div class="address1">
    <h3>自分の住所へ配送</h3>
</div>
<%= link_to "編集する", edit_public_address_path(current_customer.id) %></p>

<div class="postal_addresses">
    <h3>登録済み住所</h3>
    
    <div class="text-success">
        <%= flash[:notice] %>
    </div>
    
    <%= link_to "配送先を新規登録", new_public_address_path, class: 'btn btn-info btn-md' %>
    <div class="container">
        <% @addresses.each do |address| %>
            <div class="row">
                <div class="col-12 border">
                    <table>
                        <tr>
                            <th class="text_hed">宛名</th>
                            <td class="text_field">
                                <%= address.postal_name %>
                                (<%= address.postal_name_kana %>)
                            </td>
                        </tr>
                        <tr>
                            <th class="text_hed">配送先</th>
                            <td class="text_field">
                                <%= address.postal_code %>
                                <%= address.postal_address %>
                            </td>
                        </tr>
                        <tr>
                            <th class="text_hed">電話番号</th>
                            <td class="text_field">
                                <%= address.postal_telephone_number %>
                            </td>
                        </tr>
                        <tr>
                            <td><%= button_to "配送先の編集", edit_public_address_path(address.id), method: :get %></td><br>
                            <td class="button_delete"><%= button_to "削除", public_address_path(address.id), method: :delete, class: 'btn btn-danger btn-sm', "data-confirm" => "本当に削除しますか？" %></td>
                        </tr>
                    </table>
                </div>
            </div>
        <% end %>
    </div>
</div>