<h2>新規会員登録</h2>
<p>初めてご利用のお客様には新規会員登録をお願いしております。</p>

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <table class="customer_info customer_form">
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <th>名前</th>
          <td>
            <%= f.label :first_name, "(姓)" %> <%= f.text_field :first_name, autofocus: true, :placeholder =>"難波" %>
            <%= f.label :last_name, "(名)" %> <%= f.text_field :last_name, :placeholder =>"太郎" %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td>
            <%= f.label :first_name_kana, "(セイ)" %> <%= f.text_field :first_name_kana, :placeholder =>"ナンバ" %>
            <%= f.label :last_name_kana, "(メイ)" %><%= f.text_field :last_name_kana, :placeholder =>"タロウ" %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <td colspan="2"><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :postal_code, "郵便番号(ハイフンなし7桁)" %></th>
          <td colspan="2">
            <%#= f.text_field :postal_code, :placeholder =>"5420076", class: "jpostal_code" %>
            <input type="text" name="zip" size="10" maxlength="7" onKeyUp="AjaxZip3.zip2addr('zip', '', 'address', 'address');">
            </td>
        </tr>
        <tr>
          <th><%= f.label :address, "住所(郵便番号から自動入力)" %></th>
          <td colspan="2">
            <%#= f.text_field :address, class: "jpostal_address" %>
            <input type="text" name="address" size="60"></td>
        </tr>
        <tr>
          <th><%= f.label :telephone_number, "電話番号(ハイフンなし10or11桁)" %></th>
          <td colspan="2"><%= f.text_field :telephone_number, :placeholder =>"00011112222" %></td>
        </tr>
        <tr>
          <th><%= f.label :password, "パスワード(#{@minimum_password_length}文字以上)" %></th>
          <td colspan="2"><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
          <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td></td>
          <th colspan="2"><%= f.submit "新規登録する", class: "btn btn-success" %></th>
        </tr>
      </tbody>
    </table>
<% end %>

<%= render "public/shared/links" %>
