<h3>注文履歴一覧</h3>（全<%= @orders.count %>件）
<div class="order-index-container">
    <div class="order-index-row">
            <table>
                    <% @orders.each do |order| %>
                        <tr>
                            <th>注文日</th><td><%= order.created_at.strftime('%Y/%m/%d')%></td>
                        </tr>
                        <tr>
                            <th>配送先</th><td><%= order.delivery_name %>(<%= order.delivery_name_kana %>)</td>
                        </tr>
                        
                            <% order.order_details.each do |order_detail| %>
                                <tr>
                                    <th>注文商品</th><td><%= order_detail.item.item_name %></td>
                                </tr>
                                <!--商品の金額を一つずつ足していく-->
                                    <% @total += order_detail.item.with_tax_price * order_detail.amount %>
                            <% end %>
                                <tr>
                                    <th>支払金額</th><td><%= @total + 800 %>円</td>
                                </tr>
                                <tr>
                                </tr>
                            <th>注文詳細</th><td><%= link_to '表示する', public_order_path(order.id) %></td>
                    <% end %>
            </table>
    </div>
</div>
<%= paginate @orders %>