<h1><%= @item.item_name %></h1>
<P><%= image_tag @item.get_item_image(300,300) %></P>
<div>
    <table>
        <tr>
            <th>価格</th><td><strong><%= @item.no_tax_item_price %>円</strong>(税込<%= @item.with_tax_price %> 円)</td>
        </tr>
        <tr>
            <th>商品ジャンル</th><td><%= @item.genre.genre_name %></td>
        </tr>
        <tr>
            <th>内容量</th><td><%= @item.content_volume %> <%= @item.unit %></td>
        </tr>
        <tr>
            <th>商品説明</th><td><%= @item.introduction %></td>
        </tr>
    </table>
    <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
            <p>数量を選択</p>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, *[1..10] %>
            <%= f.submit "カートに入れる" %>
    <% end %>
</div>